@media screen and (max-width: 900px) {

    /* 言語ボタン */
    .lang-buttons {
        position: fixed !important;
        top: 40px !important;
        right: 40px !important;
        gap: 10px !important;
        z-index: 9999;
    }
    .lang-buttons div {
        font-size: 14px !important;
    }

    /* home-logo */
    .home-logo {
        position: absolute !important;
        top: calc(50% - 75px) !important;
        left: 50% !important;
        transform: translate(-50%, -50%) !important;

        width: 70vw !important;
        height: auto !important;
    }

    /* growth-logo */
    .growth-logo {
        position: absolute !important;
        top: calc(50% - 75px - 60px) !important;
        left: 50% !important;
        transform: translate(-50%, -50%) !important;

        width: 70vw !important;
        height: auto !important;
    }

    /* desc-box */
    .desc-box {
        position: absolute !important;
        top: calc(50% - 75px + 130px) !important;
        left: 50% !important;
        transform: translateX(-50%) !important;

        width: 70vw !important;
        height: 175px !important;

        font-size: 12px !important;
        line-height: 1.6 !important;
        overflow-wrap: break-word !important;
    }

    /* white-bar-wrapper */
    .white-bar-wrapper {
        position: absolute !important;
        left: calc(50% - 35vw) !important;
        top: calc(50% - 75px - 60px) !important;
        transform: translateY(-50%) !important;
    }

    /* white-bar */
    .white-bar {
        width: 4px !important;
        height: 70vw !important;
        transform-origin: left center !important;
    }

    .white-bar.expand {
        width: 70vw !important;
    }

    /* title-list */
    .title-list {
        position: fixed !important;
        bottom: 0 !important;
        left: 0 !important;

        width: 100vw !important;
        height: 100vh !important;

        overflow-y: scroll !important;
        z-index: 500 !important;
    }

    /* plant-title */
    .plant-title {
        position: absolute !important;
        left: 50% !important;
        transform: translateX(-50%) !important;

        bottom: 70px !important;

        font-size: 40px !important;
        color: rgba(255,255,255,0.3) !important;
    }

}
